*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif
}

body{
      background: #E4F9FF;
}
.logo{
margin-top: 25px;
margin-bottom: 25px;
margin-left: 50px;
}

.topFondo .button img{
  margin-top: 15px;
  margin-right: 12px;
}

.topFondo {
width: 100%;
height: 220px;
left: 0px;
top: 0px;
background: #3282B8;
}

.topFondo .button {
  float: right;
  margin-right: 120px;
}

.button {
 padding-top: 100px ;
 cursor: pointer;
}

.button li {
 display: inline-block;
 border: 5px solid #28527a;
 border-radius: 25px;
 margin-left: 20px;

}

.button li a {
 font-family: Arial;
 font-size: 30px;
 float: left;
 text-decoration: none;
 padding: 20px;
 color: #f4f9f9;
}

.button li a:hover {
 color: #9ecca4;
}

