
    <div class="topFondo">
        <img src="./assets/img/informate.png" height="180px" width="520px" class="logo">
        
        <div class="button">
            <li>
                <img src="./assets/img/home.png" height="25px" width="25px">
                <a (click)="irInicio()">Inicio</a>
            </li>

            <li>
            <img src="./assets/img/trophy.png" height="25px" width="25px">
                <a (click)="irDeportes()">Deportes</a>
            </li>

            <li>
                <img src="./assets/img/page.png" height="25px" width="25px">
                <a (click)="irNacional()">Nacional</a>
            </li>

            <li>
                <img src="./assets/img/covid.png" height="25px" width="25px">
                <a (click)="irCovid()">Covid-19</a>
            </li>
        </div>
    </div>

