* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

.infoNoticia{
    width: 100%;
    height: auto;
    background-color: #EBEBEB;
}

.infoNoticiaContenido{
    width: 60%;
    height: auto;
    background-color: #fff;
    margin-left: 20%;
    text-align: center;
    

}

.titulo{
    font-size: 30px;
    color: black;
    margin-top: 50px;
    margin-left:70px;
    margin-right: 70px;
    white-space: pre-wrap;
    text-align: left;
    
}

.contenido{
    font-size: 20px;
    color: black;
    margin-left:70px;
    margin-right: 70px;
    text-align: justify;
    padding-bottom: 70px;
}
img{
    width: 85%;
    height: 500px;
    margin-left:70px;
    margin-right: 70px;
}

ul {
    list-style-type: none;
    color: #554b4b;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  ul li {
    display: inline;
    border-right: 1px solid #554b4b;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    font-size: 20px;
  }

  ul li:last-child {
    border-right: none;
  }